* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.calculator {
  width: 287px;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  background-color: #ccc;
  padding: 5px;
}

.calculator form {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  grid-auto-rows: 65px;
  grid-gap: 5px;
}

.calculator form input {
  border: 2px solid #6d6d6d;
  cursor: pointer;
  font-size: 17px;
}

.calculator form input:hover {
  border: 2px solid #6d6d6d;
  box-shadow: 1px 1px 2px #333;
}

.calculator form .clear {
  background-color: rgb(250, 98, 98);
}

.calculator form .operator {
  background-color: rgb(253, 171, 19);
}

.calculator form .dot {
  background-color: rgb(36, 179, 119);
}

/* 칸 너비 설정 */
.calculator form input[type='text'] {
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}

.calculator form .clear {
  grid-column: span 3;
}

.calculator form .result {
  grid-column: span 2;
}

.bottom {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
}
